<!DOCTYPE html>
<html>
<h1>
  Lista de desejos
</h1>
<div>
  <table >
  <tr>
      <h2>Caneca dia dos pais</h2>
  </tr>
  <tr>
    <td><img src="./assets/img/canecaDiaDosPais.jpg" style="width: 343px;height: 244px;" alt="Caneca dia dos pais"></td>
    <td><h3>Quantidade</h3>
    <input [(ngModel)]="canecaPai.quantidade">
    </td>
  </tr>
  <tr>
    <h2>Caneca dia das Mães</h2>
</tr>
  <tr>
    <td><img src="./assets/img/canecaDiaDasMaes.jpg" style="width: 343px;height: 260px;" alt="Caneca dia das mães"></td>
    <td><h3>Quantidade</h3>
      <input [(ngModel)]="canecaMae.quantidade">
      </td>
  </tr>
</table>
<h1>
  Compartilhar Lista de Desejos:
</h1>
<table>
  <tr>
    <td>Nome: <input></td>
    <td>Email: <input></td>
  </tr>
  <tr>
    <button type= "button">Compartilhar Lista</button>
  </tr>
</table>
</div>
</html>