<!DOCTYPE html>
<html>

    <div id = "form">
        <h1>Cadastrar Produto</h1>
        
        <mat-form-field class="formField">
            <mat-label>Categoria do produto</mat-label>
            <mat-select [(ngModel)] = "categoria">
                <mat-option *ngFor = "let categorias of categorias" [value]="categorias">
                    {{categorias}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="formField">
            <mat-label>Nome do Produto</mat-label>
            <input [(ngModel)] = "nome"  matInput placeholder="Ex: Caneca Legal" name="namebox">
        </mat-form-field>

        <mat-form-field class="formField">
            <input [(ngModel)] = "qtd" matInput type="number" placeholder="Quantidade disponivel" min='1' name="qtdbox">
        </mat-form-field>

        <button mat-button id = "btnFinalizar" (click)="cadastrarProduto(nome,qtd,categoria)" > Cadastrar </button>

    </div>

</html>