<!DOCTYPE html>
<html>
<h1>
  Lista de desejos
</h1>
<div>
  <table ([ngModel])="listProd" *ngFor="let a of listProds">
    <tr>
      <h2 name="Produto">{{a.produto}}</h2>
    </tr>
    <tr>
      <td><img src={{a.imgSrc}} style="width: 343px;height: 244px;" alt="{{a.produto}}"></td>
      <td>
        <h3>Quantidade</h3>
        <input type="number" value="{{a.quantidade}}" min="1" max="{{maxProdEstoque(a)}}" #qtd (change)="updateProdQtd(a,qtd.value)">
        <input type="submit" (click)="confirmPopUp(a)" value="Deletar">
      </td>
  </table>
</div>
<h1 name = "share_lista_des">
  Compartilhar Lista de Desejos:
</h1>
<table>
  <tr>
    <td>Nome: <input placeholder="Nome da pessoa que deseja enviar" name="namebox" #nome></td>
    <td>Email: <input placeholder="Email da pessoa que deseja enviar aqui" type="email" name="emailbox" #email></td>
  </tr>
  <tr>
    <button type="button" (click)="CompartilharLista(nome.value, email.value)" naem="share_lista_des">Compartilhar Lista</button>
  </tr>
</table>

</html>